
{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#txtFullDes',
    height: 450,
    plugins: 'paste image link autolink lists table media',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
  });
</script>
{{/section}}

<form method="post">
  <div class="card">
    <div class="card-header">
      WYSIWYG HTML Editor
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for=""></label>
        <textarea name="FullDes" id="txtFullDes" class="form-control" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-lg btn-success btn-block">
        <i class="fa fa-check" aria-hidden="true"></i>
        Submit
      </button>
    </div>
  </div>
</form>