
{{#section 'title'}}
    SEARCH
{{/section}}
{{#section 'css'}}
    <style>
        .single-blog-post.small-featured-post .post-data .post-date {
    margin-bottom: 0;
    line-height: 1;
},
        .single-blog-post .post-data .post-title {
},
        * {
    margin: 0;
    padding: 0;
},
        .single-blog-post.small-featured-post .post-data .post-catagory {
    margin-bottom: 10px;
    line-height: 1;
},
        .single-blog-post.small-featured-post .post-data {
    padding: 0;
        margin-right: 10px;
},
        img {
    height: auto;
    max-width: 50%;
},
        .single-blog-post .post-thumb a {
    display: flex;
},
        .single-blog-post.small-featured-post .post-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
    max-width: 90px;
    margin-right: 15px;
},
    .single-blog-post.small-featured-post:first-child {
    padding-top: 0;
},
    .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
},
    body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
},
    a {
        text-decoration: none;
        color:black
    }
    a :hover{
        color : red;
    }

    </style>
{{/section}}

<h4>Kết quả cho </h4>
</br>
<div class = "container">
    <div class = "row">
        <div class = "col-12 col-md-6 col-lg-12">
            <div class="single-blog-post small-featured-post d-flex">
                <div class="post-thumb w-50">
                    <a href=""> 
                        <img class = "w-100" src = "../../public/imgs/Untitled1.png" alt>                       
                    </a>
                </div>
                <div class="post-data ml-4">
                    <a href ="" class = "post-catagory" style = "text-decoration: none;color:black">cool</a>
                    <div class="post-meta">
                        <h2 class = "post-title">
                            <a href ="" style="color:black">aaaa</a>
                        </h2>
                        <p>social</p>
                        <p class = "post-date">
                                23/4/2020
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="single-blog-post small-featured-post d-flex">
                <div class="post-thumb w-50">
                    <a href=""> 
                        <img class = "w-100" src = "../../public/imgs/Untitled1.png" alt>                       
                    </a>
                </div>
                <div class="post-data ml-4">
                    <a href ="" class = "post-catagory">cool</a>
                    <div class="post-meta">
                        <h2 class ="post-title">
                            <a href ="">aaaa</a>
                        </h2>
                        <p>social</p>
                        <p class = "post-date">
                                23/4/2020
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>