
{{#section 'css'}}
    <style>
        .case {
    width: 100%;
    margin-bottom: 50px;
    },
    .case .text .subheading {
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    },
    .case .text .meta p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
    },
    .mb-0, .my-0 {
    margin-bottom: 0 !important;
    },
    .case .text h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
},
.case .text h2 a {
    color: #000000;
},
.container {
    max-width: 1210px;
},
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
},
.col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
},
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
},
.case .img {
    height: 400px;
},
.pl-md-3, .px-md-3 {
    padding-left: 1rem !important;
},
.ftco-section {
    padding: 7em 0;
    position: relative;
},
body {
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}
    </style>
{{/section}}

<form class="form-inline" >
    <button   class="navbar-toggler mr-sm-3" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>            
    </button>
    <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</br>
<div class = "ftco-section">
<div class = "container">
    <div class = "row">
        <div class = "case">
            <div class = "row">
                <div class = "col-md-6 col-lg-6 col-xl-8 d-flex">
                    <a href="" class="img w-100 mb-3 mb-md-0" style="background-image: url(../../public/imgs/Untitled1.png);">                        
                    </a>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4 d-flex">
                    <div class="text w-100 pl-md-3">
                        <span class="subheading"><a href ="">cool</a></span>
                        <h2>
                            <a href ="">aaaa</a>
                        </h2>
                        <p>social</p>
                        <div class = "meta">
                            <p class = "mb-0">
                                23/4/2020
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>